### Домашнее задание к лекции "Базовые понятия статистики"

Будем осуществлять работу с непростым набором данных о состоянии здоровья лошадей, испытывающих кишечные колики. Цель – максимально корректно заполнить пропуски.

In [159]:
import pandas as pd
import numpy as np

#### Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [160]:
"""
Тут все просто, обратился, загрузил, дал имена столбцам, заполнил ? на NaN
По описанию нужны 8 столбцов: 0,1,3,4,5,6,10,22
"""

csv = 'https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv'
names = ['surgery?', 
         'Age', 
         'rectal temperature', 
         'pulse', 
         'respiratory rate', 
         'temperature of extremities', 
         'pain', 
         'outcome']
horses = pd.read_csv(csv, header=0, usecols=[0,1,3,4,5,6,10,22], names=names, na_values='?')
horses

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
1,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
3,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...
294,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
295,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
296,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
297,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
298,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

#### Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [161]:
"""
Не стал отдельно считать многие базовые стастики, а просто сделал describe всего датафрейма
Многие статистики уже посчитались
"""

horses.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,298.000000,299.00000,239.000000,275.000000,241.000000,243.000000,244.000000,298.000000
mean,1.395973,1.64214,38.166527,71.934545,30.427386,2.345679,2.942623,1.550336
std,0.489881,2.17730,0.733508,28.680522,17.678256,1.046369,1.303993,0.737967
min,1.000000,1.00000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.00000,37.800000,48.000000,18.000000,1.000000,2.000000,1.000000
50%,1.000000,1.00000,38.200000,64.000000,24.000000,3.000000,3.000000,1.000000
75%,2.000000,1.00000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,9.00000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

In [162]:
"""
Оставшиеся посчитал в цикле по каждому столбцу
Использовал список с названием столбцов (был в самом начале) и итеррировался по нему
При этом итерративно по каждому столбцу проверял на выбросы и в remove_outliers писал датафрейм без выбросов
Если встречалось NaN - за выброс не считал, потому что пропуск значения не может быть выбросом
"""

remove_outliers = horses

for col in names:
    print("Медиана", col, "->", horses[col].median())
    print("Размах", col, "->", horses[col].max()-horses[col].min())
    print("Мода", col, "->", horses[col].mode()[0])
    print("Дисперсия", col, "->", horses[col].var())
    print("Межквартильный размах", col, "->", horses[col].quantile(0.75)-horses[col].quantile(0.25))
    print("--------------------------------------------")

    q1 = horses[col].quantile(0.25)
    q3 = horses[col].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - (1.5 * iqr) 
    upper_bound = q3 + (1.5 * iqr)
    remove_outliers = remove_outliers[(remove_outliers[col].between(lower_bound, upper_bound, inclusive=True)) | pd.isna(remove_outliers[col])]

Медиана surgery? -> 1.0
Размах surgery? -> 1.0
Мода surgery? -> 1.0
Дисперсия surgery? -> 0.23998372991661482
Межквартильный размах surgery? -> 1.0
--------------------------------------------
Медиана Age -> 1.0
Размах Age -> 8
Мода Age -> 1
Дисперсия Age -> 4.740634329195755
Межквартильный размах Age -> 0.0
--------------------------------------------
Медиана rectal temperature -> 38.2
Размах rectal temperature -> 5.399999999999999
Мода rectal temperature -> 38.0
Дисперсия rectal temperature -> 0.5380345276185787
Межквартильный размах rectal temperature -> 0.7000000000000028
--------------------------------------------
Медиана pulse -> 64.0
Размах pulse -> 154.0
Мода pulse -> 48.0
Дисперсия pulse -> 822.5723424021243
Межквартильный размах pulse -> 40.0
--------------------------------------------
Медиана respiratory rate -> 24.0
Размах respiratory rate -> 88.0
Мода respiratory rate -> 20.0
Дисперсия respiratory rate -> 312.5207468879668
Межквартильный размах respiratory rate -> 18.0
--------------------------------------------
Медиана temperature of extremities -> 3.0
Размах temperature of extremities -> 3.0
Мода temperature of extremities -> 3.0
Дисперсия temperature of extremities -> 1.09488827670646
Межквартильный размах temperature of extremities -> 2.0
--------------------------------------------
Медиана pain -> 3.0
Размах pain -> 4.0
Мода pain -> 3.0
Дисперсия pain -> 1.7003980300883774
Межквартильный размах pain -> 2.0
--------------------------------------------
Медиана outcome -> 1.0
Размах outcome -> 2.0
Мода outcome -> 1.0
Дисперсия outcome -> 0.5445958466092722
Межквартильный размах outcome -> 1.0
--------------------------------------------

In [163]:
"""
Затем удалил из исходного датафрейма полученный датафрейм без выбросов в строках
Остался датафрейм с выбросами в строках - т.е. нашел все выбросы
"""

pd.concat([horses, remove_outliers]).drop_duplicates(keep=False)

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
8,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
12,2.0,9,38.0,92.0,28.0,1.0,1.0,2.0
15,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
19,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0
22,1.0,9,38.3,130.0,60.0,NaN,2.0,1.0
38,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
40,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
43,1.0,1,35.4,140.0,24.0,3.0,4.0,3.0
53,2.0,1,40.3,114.0,36.0,3.0,2.0,3.0
54,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
73,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
74,1.0,9,39.7,100.0,NaN,3.0,2.0,3.0
79,1.0,1,36.4,98.0,35.0,3.0,4.0,2.0
81,1.0,9,38.1,100.0,80.0,3.0,3.0,1.0
83,1.0,1,37.8,60.0,80.0,1.0,2.0,1.0
90,2.0,1,40.3,114.0,36.0,3.0,2.0,2.0
98,2.0,1,39.6,108.0,51.0,3.0,2.0,1.0
102,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
105,1.0,1,38.3,52.0,96.0,NaN,NaN,1.0
108,1.0,9,38.4,84.0,40.0,3.0,3.0,2.0
117,1.0,1,36.5,78.0,30.0,1.0,5.0,1.0
119,1.0,1,39.4,54.0,66.0,1.0,2.0,1.0
124,1.0,1,38.0,42.0,68.0,4.0,3.0,1.0
134,1.0,9,38.1,136.0,48.0,3.0,5.0,2.0
140,2.0,1,36.0,42.0,30.0,NaN,NaN,2.0
190,2.0,9,NaN,100.0,44.0,2.0,4.0,1.0
207,1.0,1,37.8,88.0,80.0,3.0,NaN,3.0
211,1.0,9,38.9,120.0,30.0,1.0,3.0,1.0
226,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
228,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
237,2.0,1,36.1,88.0,NaN,3.0,3.0,3.0
243,1.0,9,38.2,124.0,88.0,1.0,2.0,1.0
250,2.0,1,36.6,42.0,18.0,3.0,1.0,2.0
251,1.0,9,38.8,124.0,36.0,3.0,2.0,2.0
254,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
258,1.0,1,40.8,72.0,42.0,3.0,2.0,2.0
261,2.0,9,38.6,88.0,28.0,NaN,NaN,1.0
264,2.0,1,NaN,56.0,68.0,3.0,3.0,3.0
274,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0
280,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
286,2.0,9,39.5,84.0,30.0,NaN,NaN,1.0
294,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
297,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0

#### Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [164]:
"""
Через isna и sum посчитал количество пропусков в каждом столбце
"""

horses.isna().sum()

surgery?                       1
Age                            0
rectal temperature            60
pulse                         24
respiratory rate              58
temperature of extremities    56
pain                          55
outcome                        1
dtype: int64

In [165]:
# Перешли к заполнению
# 'temperature of extremities' может быть разной в зависимости была ли операция, каков исход и какой возраст - по этим параметрам сгруппировал и подставил медиану.
# больше ни к чему не смог привязаться, если добавлять боль - оставались пропуски
horses['temperature of extremities'].fillna(horses.groupby(['surgery?','outcome', 'Age'])['temperature of extremities'].transform('median'), inplace=True)
# rectal temperature по условию зависит от temperature of extremities и на ее основании сгруппировал и подставил медиану
horses['rectal temperature'].fillna(horses.groupby('temperature of extremities')['rectal temperature'].transform('median'), inplace=True)
# пульс предположил, что может быть разный в зависимости от была или нет операция, возраста, верхней границы температуры, возраста и исхода
# по этим парамтерам сгруппировал и подставил медиану
horses['pulse'].fillna(horses.groupby(['surgery?', 'temperature of extremities', 'Age', 'outcome'])['pulse'].transform('median'), inplace=True)
# Уровень дыхания - тут сложней всего, оно точно может быть разным у тех кто делал операция, а кто нет
# При разных температурных границах - тоже наверно разный уровень дыхания
# По этим параметрам сгруппировал и подставил медиану
# Больше ни к чему не получилось привязаться - оставались пропуски, да и не факт, что дыхание зависит от боли
horses['respiratory rate'].fillna(horses.groupby(['surgery?', 'temperature of extremities'])['respiratory rate'].transform('median'), inplace=True)
# Боль - точно отличается у тех кто умер, и кто нет, и от того, была ли операция или нет. 
# По этим параметрам сгруппировал и подставил медиану
# Влияние температуры - не факт что есть
horses['pain'].fillna(horses.groupby(['surgery?', 'outcome'])['pain'].transform('median'), inplace=True)
# Наличие операции думаю зависит от температуры, возраста и уровня боли
# По этим параметрам сгруппировал и подставил медиану
# На дыхание написано полагаться нельзя
horses['surgery?'].fillna(horses.groupby(['temperature of extremities', 'Age', 'pain'])['surgery?'].transform('median'), inplace=True)
# Исход думаю зависит от температуры, возраста, уровня боли и у тех кто делал операцию и кто нет - тоже может отличаться исход
# По этим параметрам сгруппировал и подставил медиану
horses['outcome'].fillna(horses.groupby(['surgery?', 'temperature of extremities', 'Age', 'pain'])['surgery?'].transform('median'), inplace=True)
horses

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,1.0,1,39.20,88.0,20.0,3.0,3.0,3.0
1,2.0,1,38.30,40.0,24.0,1.0,3.0,1.0
2,1.0,9,39.10,164.0,84.0,4.0,2.0,2.0
3,2.0,1,37.30,104.0,35.0,3.0,3.5,2.0
4,2.0,1,38.10,51.0,25.0,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...
294,1.0,1,38.35,120.0,70.0,4.0,2.0,3.0
295,2.0,1,37.20,72.0,24.0,3.0,4.0,3.0
296,1.0,1,37.50,72.0,30.0,4.0,4.0,2.0
297,1.0,1,36.50,100.0,24.0,3.0,3.0,1.0
298,1.0,1,37.20,40.0,20.0,3.0,4.0,3.0